.wrapper {
  background-color: #f3f7fa;
  width: 960px;

  margin: 0 auto;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  @media screen and (max-width: 420px) {
    width: 100%;
  }
}

.main {
  display: grid;
  grid-template-columns: 232px 502px;
  justify-content: center;
  gap: 20px;
  padding: 10px;

  @media screen and (max-width: 420px) {
    grid-template-columns: 1fr;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  display: flex;
  justify-content: center;
}

.warning {
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: lightgoldenrodyellow;
}
