.box {
  background-color: white;
  height: 252px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  @media screen and (max-width: 420px) {
    padding: 5px;
    height: 100%;
    gap: 5px;
    font-size: 10px;
  }
}
